name: YAML
on:
  push:
    branches:
      - main
    paths:
      - "**.yml"
      - "**.yaml"
  pull_request:
    paths:
      - "**.yml"
      - "**.yaml"
  workflow_dispatch:
jobs:
  lint:
    uses: parcelLab/ci/.github/workflows/yaml.yaml@v5
